@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
*{
  margin: 0;
  padding: 0;
  transition: ease-in-out 0.3s;
  font-family: 'Rosarivo', serif;
}
html{
  min-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.app{
  min-width: 101%;
  display: flex;
  flex-direction: column;

}

button {
  margin-bottom: 10px;
}


h1 {
  width: max-content;
  font-size: 30px;
  text-decoration: solid;
}

input.true {
  border: 1px solid rgb(231, 65, 65);
  padding-left: 30px;
  color: rgb(197, 76, 76);
  background-image: url('./imgs/error.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-color: rgb(240, 232, 232);
}

section {
  width: 100%;
}

section.chartsContainer {
  background: url("./imgs/lightBg2.svg");
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
}
.hidden {
  display: none;
}

canvas{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 500px !important;
}
.dark{
 
  border: 1px solid rgb(179, 179, 255);
}
.menu{
  width: 40px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 7px;
  z-index: 4;
}
.menu:hover{
cursor: pointer;
}
article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  height: auto;
}

article img {
  width: 80px;
}

article.Beginner{
border: 2px solid green;
background-image: linear-gradient(to right, #46e040 , #00e600);

}
article.Intermediate{
  border: 2px solid rgb(197, 218, 10);
  background-image: linear-gradient(to right, #a6ff17 , #e2de07);

}
article.HighLevel{
  border: 2px solid rgb(255, 153, 0);
  background-image: linear-gradient(to right, #f6e604 , #ffae00);
}
article.Advanced{
  border: 2px solid rgb(255, 0, 0);
  background-image: linear-gradient(to right, #96a010 , #e60a0a);
}

/* article#profileBanner{
  background-image: linear-gradient(to right, #5110A0 , #344AC4);
} */
header{
  background-color: white;
  width: 100%;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
header img{
  margin: 1%;
}
header ul{
  width: 130px;
  background-color: white;
  z-index: 5;
  position: absolute;
  right: 0;
  top: 11%;
  padding: 1%;
  list-style: none;
  border-radius: 10px 10px 0px 10px;
}
header ul li {
  font-size: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  color: #082564;  
}
header ul li:hover{
  cursor: pointer;
  color: #04163b;
  font-weight: bold;
}
header ul li img{
  height:auto;
  width: 5%;
}
input[name='searchEmail']{
  border: 2px solid #082564;
  color: #082564;
  position: relative;
  width: 50%;
}
button[name='searchEmail']{
  position: relative;
  width: 120px;
  height: 54px;
  top: 15px;
}
button[name='searchEmail'] img{
  text-align: center;
  width: 40%;
}
button.returnBtn{
  position: absolute;
  width: 12%;
  margin: 5px;
}
h3{
  padding: 3%;
  text-align: center;
  width: 100%;
  background-color: #04163b;
  color: white;
  font-size: 1.8vw;
}
fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid #082564;
}

@media (width < 570px) {
  main {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-width: 375px;
  } 
  /* header{
    height: max-content;
  }
  header img.menu{
    width: 30px;
    right: 10px;
  }
  
  header ul#popUp li{
    height: 20px;
    width: 30%;
    background-color: white;
  } 
  h6{
    display: none;
  } */
  /* header ul#popUp{
    z-index: -1;
    height: 100vh;
    width: 100vw;
    background-color: #040b1bb7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header ul#popUp li{
    
  } */
}