@import url('https://fonts.googleapis.com/css2?family=Rosarivo&display=swap');
*{
  margin: 0;
  padding: 0;
  transition: ease-in-out 0.3s;
  font-family: 'Rosarivo', serif;
}
html{
  min-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
.app{
  min-width: 101%;
  display: flex;
  flex-direction: column;

}

button {
  margin-bottom: 10px;
}

article {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  width: 90%;
  height: auto;
}

article img {
  width: 80px;
}

h1 {
  width: max-content;
  font-size: 30px;
  text-decoration: solid;
}

input.true {
  border: 1px solid rgb(231, 65, 65);
  padding-left: 30px;
  color: rgb(197, 76, 76);
  background-image: url('./imgs/error.svg');
  background-position: left;
  background-repeat: no-repeat;
  background-color: rgb(240, 232, 232);
}

section {
  width: 100%;
}

section.chartsContainer {
  background: url("./imgs/lightBg2.svg");
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  border-radius: 10px;
  background-color: aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display: none;
}

canvas{
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  width: 500px !important;
}
.dark{
 
  border: 1px solid rgb(179, 179, 255);
}
.menu{
  width: 40px;
  height: auto;
  position: absolute;
  right: 0px;
  top: 7px;
  z-index: 4;
}
.menu:hover{
cursor: pointer;
}
article.Beginner{
border: 2px solid green;
background-color: rgba(219, 243, 219, 0.904);
}
article.Intermediate{
  border: 2px solid rgb(197, 218, 10);
  background-color: rgba(240, 243, 213, 0.925);
}
article.HighLevel{
  border: 2px solid rgb(255, 153, 0);
  background-color: rgba(233, 222, 205, 0.911);
}
article.Advanced{
  border: 2px solid rgb(255, 0, 0);
  background-color: rgba(240, 212, 212, 0.877);
}
header{
  background-color: white;
  width: 100%;
  height: 75px;
  text-align: center;
}
header img{
  margin: 1%;
}
header ul{
  width: 130px;
  background-color: white;
  z-index: 5;
  position: absolute;
  right: 0;
  top: 11%;
  padding: 1%;
  list-style: none;
  border-radius: 10px 10px 0px 10px;
}
header ul li {
  width: max-content;
  display: flex;
  justify-content: left;
  align-items: center;
  color: #082564;
  font-size: 20px;
  
}
header ul li:hover{
  cursor: pointer;
  color: #04163b;
  font-weight: bold;
}
header ul li img{
  height:auto;
  width: 5%;
}
fieldset{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 2px solid #082564;
}
input[name='searchEmail']{
  border: 2px solid #082564;
  color: #082564;
  position: relative;
  width: 50%;
}
button[name='searchEmail']{
  position: relative;
  width: 120px;
  height: 54px;
  top: 5px;
}
button[name='searchEmail'] img{
  text-align: center;
  width: 40%;
}